#container>div{
    box-sizing: border-box;
    
}

#container{
    position: absolute;
    padding-bottom: 50px;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    
}

#container>div:first-child{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}



.list-wrap{
    width: 820px;
}

.list-top{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-bottom: 10px;
}

.list-top>a{
    padding: 0px 5px;
}

#list-title{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}

.list-flex>div:nth-child(1){
    flex-basis: 50px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);

}

.list-flex>div:nth-child(2){
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-flex>div:nth-child(3){
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-flex>div:nth-child(4){
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

#list-content>div:nth-child(2){
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}

.list-middle>ul{
    display: flex;
    flex-direction: column;
}

.list-middle>li{
    display: list-item;
    text-align: -webkit-match-parent;
}
#list-content{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);

}
#list-content>div{
    padding: 20px 0px;
}

.btn-wrap{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 40px 0px 30px;
}

.btn-wrap button{
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    border-radius: 3px;
}


.detail-btn{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.detail-btn>div{
    margin: 5px;
    padding-bottom: 50px;
}


.detail-btn button{
    display: block;
    padding: 0px,10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 42px;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    background-color: #255D00;
    border: 0px none;
}

