@import "/cookTeacher/resources/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
*{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/* 헤더 전체 박스 */
div{
    box-sizing: border-box;
    
}

button{
	cursor: pointer;
}
header{
    height: 200px;
}

#header-wrap{
    width: 1050px;
    margin: 0px auto;
}

/* 회원가입 로그인 로고 검색 회원정보 */
#header-top{
    margin-right: 10px;
    width: 100%;
    height: 75%;
    padding: 20px;
}

/* 회원가입 로그인 공지사항 */
#header-top>div:first-child{
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    height: 15px;
    margin-bottom: 10px;
}

#header-top>div span{
    padding-right: 5px;
    padding-left: 5px;
}

/* 로고 검색 회원정보 */
#header-top>div:last-child{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}



/* 로고,회원, 검색 플렉스 */
#header-search-area,#header-member-area,#header-logo{
    display: flex;
    align-items: center;
}
/* 이름 */
#header-logo>div{
    margin-left: 20px;
    color: #255D00;
    font-weight: 400;
    font-size: 2rem;
}
/* 검색 */
#header-top>div:last-child input{    
    width: 350px;
    height: 45px;
    border-right: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 11px 1px 15px;
}
/* 버튼 */
#header-search-area>button{
    width: 45px;
    height: 50px;
    background-color: white;
    border-left: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* 회원 */
/* #header-member-area>div{
    border: 1px solid;
} */



#header-member-area>div:nth-child(2){
    padding: 10px 5px;
    text-align: center;
}


/* 메뉴바 */
#header-bottom{
    width: 1050px;
    background-color: #255D00;
    box-shadow: 3px 3px #FFD335;
    border-radius: 10px;
}

#header-menu-bar{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.header-menu-items :hover{
    color: #FFD335;
}

#top-btn{
    position: relative;

}

#top-btn>img{
    position: fixed;
    width: 30px;
    height: 30px;
    z-index: 2000;
    top: 90%;
    left: 95%;
}
#top-btn>img:hover{
    opacity: 0.4;
}

