/* #container{
  position: absolute;
  padding-bottom: 50px;
} */

* {
  box-sizing: border-box;
}

input[type="checkbox"]{
  margin: 0;
  width: 24px;
  height: 24px;
}

#cart{
  width: 1280px;
  height: 600px; 
  margin: 0 auto;
  margin-top: 30px;
}

#cart>h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

#cart-header{
  padding: 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.all-btn{
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.all-btn>input[type="checkbox"]{
  margin: 0;
  margin-right: 12px;
  margin-top: 1px;
}

.product-header{
  padding: 16px 0;
  padding-left: 48px;
  font-size: 18px;
}

.product{
  padding: 24px 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.thumb{
  width: 150px;
  height: 150px;
  margin-right: 18px;
}
.thumb>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name{
  font-size: 16px;
  width: 400px;
}

.count-wrapper{
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-right: 130px;
}

.count-wrapper>*{
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
}

.minus{
  background-image: url("../../img/마이너스\ 버튼.svg");
}

.plus{
  background-image: url("../../img/플러스\ 버튼.svg");
}

.count-wrapper>button{
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
}

.price{
  width: 80px;
  margin-right: 18px;
  text-align: right;
}

.remove{
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../../img/삭제\ 버튼.svg");
  border: none;
  background-position: center;
  background-size: contain;
}

.container{
  display: flex;
  justify-content: space-between;
}

#order-price{
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 13px;
 margin-top: 65px;
}

#order-price .price{
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-wrapper{
  border-bottom: 1px solid rgb(219, 211, 211);
  margin: 0 12px;
}

.price-pay{
  margin-top: 5px;
  margin-left: 3px;
  font-size: 20px;
  padding: 14px;
  margin-bottom: 10px;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}

.sum .sum-cnt{
  font-size: 14px;
}

.sum .sum-amt{
  font-size: 18px;
}
.sum-amt>strong{
  font-size: 24px;
  font-weight: 700;
}

#order-price>input{
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 50px;
  border-radius: 10px;
  background-color: #255D00;
  color: white;
  border: 1px solid gray;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}