@charset "UTF-8";

* {
  box-sizing: border-box;
}

input[type="checkbox"]{
  margin: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 10px;
}

#cart{
  width: 1050px; 
  margin: 0 auto;
  margin-top: 30px;
  /* 푸터 간격 벌리기 */
  margin-bottom: 100px; 
}

#cart>h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

#cart-header{
  width: 800px;
  padding: 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.all-btn{
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  justify-content: space-between;
}

.choose-all{
  display: flex;
  align-items: center;
} 

.all-btn input[type="checkbox"]{
  margin: 0;
  margin-right: 12px;
  margin-top: 1px;
}

.delete>input{
  background-color: transparent;
  border: 1px solid rgb(200, 200, 200);
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
  margin-left: 50px;
}

.delete>input:active{
  background-color:rgb(200, 200, 200);
}

#product-area{
  margin-top: 30px;
  border: 1px solid gray;
  border-radius: 15px;
}

.product-footer{
  border-top: 1px solid gray;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 20px 13px;
  font-size: 14px;
}

.none-cart{
  background-image: url(../../img/icons/장바구니.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.none-cart>p{
  text-align: center;
  padding-top: 150px;
  margin-bottom: 100px;
  color: gray;
}

.product{
  padding: 24px 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.product:nth-last-child(2) {
  border-bottom: none;
}

.thumb{
  width: 150px;
  height: 150px;
  margin-right: 18px;
}

.thumb>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name{
  font-size: 16px;
  width: 370px;
}

.count-wrapper{
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.count-wrapper>*{
  width: 36px;
  height: 24px;
  text-align: center;
  line-height: 22px;
}

.count{
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.minus{
  background-image: url("../../img/icons/마이너스\ 버튼.svg");
}

.plus{
  background-image: url("../../img/icons/플러스\ 버튼.svg");
}

.count-wrapper>button{
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  width: 20px;
}

.price{
  width: 75px;
  margin-right: 16px;
  text-align: right;
}

.remove{
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../../img/icons/삭제\ 버튼.svg");
  border: none;
  background-position: center;
  background-size: contain;
}

.cart-container{
  display: flex;
  justify-content: space-between;
}

#order-price{
  position: sticky;
  top: 5px;
  width: 250px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 13px;
  margin-left: 30px;
}

#order-price .price{
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-wrapper{
  border-bottom: 1px solid rgb(219, 211, 211);
  margin: 0 12px;
}

.price-pay{
  font-weight: bold;
  margin-top: 5px;
  margin-left: 3px;
  font-size: 18px;
  font-weight: 10px;
  padding: 14px;
  margin-bottom: 10px;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}

.sum .sum-cnt{
  font-size: 14px;
}

.sum .sum-amt{
  font-size: 18px;
}
.sum-amt>strong{
  font-size: 22px;
  font-weight: 700;
}

#order-price>input{
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 50px;
  border-radius: 10px;
  background-color: #255D00;
  color: white;
  border: 1px solid gray;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#order-price>input:hover{
  background: #FFD335;
  color: black;
}