* {
  box-sizing: border-box;
}

#order{
  width: 1050px;
  margin: 0 auto;
  margin-top: 20px;
}

.order-container{
  border: 1px solid gray;
  border-radius: 15px;
}

#order>h1{
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 25px;
}

.orderInfo-wrap{
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 0;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  width: 950px;
}

.order-info{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.info-wrapper{
  margin-bottom: 30px;
}

.info-wrapper>li{
  display: flex;
}

.info-list{
  width: 230px;
  height: 30px;
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
}

.member-info{
  width: 500px;
  height: 30px;
  text-align: left;
  padding-top: 20px;
}

.dropdown-wrapper{
  padding-top: 15px;
  display: inline-block;
}

.dropdown{
  width: 500px;
  height: 30px;
  text-align: left;
  padding-left: 15px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
}

.dropdown-menu{
  width: 500px;
  height: 30px;
  margin: 0 auto;
  text-align: left;
  display: none;
}

.dropdown-menu span {
  display: block;
  padding: 6px;
  text-align: center;
}

.dropdown-menu span:hover{
  background-color: #eee;
}

.dropdown:hover .dropdown-menu {
  display: block;

}

#order-header{
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 0;
  width: 950px;
  font-weight: bold;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: left;
}

.order-product{
  width: 950px;
  margin: 0 auto;
  padding: 24px 12px;
  padding-right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.thumb{
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.thumb>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name{
  width: 700px;

}

.count-wrapper{
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-right: 30px;
}

.count-wrapper>*{
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
}

.minus{
  background-image: url("../../img/마이너스\ 버튼.svg");
}

.plus{
  background-image: url("../../img/플러스\ 버튼.svg");
}

.count-wrapper>button{
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
}

.price{
  width: 85px;
}

.remove{
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../../img/삭제\ 버튼.svg");
  border: none;
  background-position: center;
  background-size: contain;
}

.order-wrapper{
  display: flex;
}

.use-point{
  width: 950px;
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 0;
  margin: auto;
  border-top: 2px solid black;
  margin-top: -1px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.use-point>h1{
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.left{
  width: 950px;
  margin: 0 auto;
}

.point-wrapper>div{
  display: flex;
  justify-content: space-between;
}

.total-dt{
  float: left;
}

.total-dd{
  float: right;
}


#order-price{
  width: 250px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 13px;
  margin-top: 65px;
  margin-left: 30px;
}

#order-price .price{
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-wrapper{
  border-bottom: 1px solid rgb(219, 211, 211);
  margin: 0 12px;
}

.price-pay{
  margin-top: 5px;
  margin-left: 3px;
  font-size: 18px;
  font-weight: 10px;
  padding: 14px;
  margin-bottom: 10px;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}

.sum .sum-cnt{
  font-size: 14px;
}

.sum .sum-amt{
  font-size: 18px;
}
.sum-amt>strong{
  font-size: 24px;
  font-weight: 700;
}

#order-price>input{
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 50px;
  border-radius: 10px;
  background-color: #255D00;
  color: white;
  border: 1px solid gray;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}