* {
  box-sizing: border-box;
  font-family: "NanumSquareRound" !important;
}

#container{
  margin-bottom: 30px;
}

#order{
  width: 1050px;
  margin: 0 auto;
  margin-top: 20px;
}

.order-container{
  border: 1px solid gray;
  border-radius: 15px;
}

#order>h1{
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 25px;
}

.orderInfo-wrap{
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 0;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  width: 950px;
}

.order-info{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.info-wrapper{
  margin: 0 50px;
  margin-bottom: 30px;
}

.info-wrapper>li{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.info-list{
  width: 160px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.member-info{
  width: 500px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.member-info>input{
  width: 400px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid rgb(200, 200, 200);
  padding: 0;
  padding-left: 5px;
}

.search{
  background-color: #255D00;
  border: none;
  color: white;
  margin-left: 10px;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.search:hover{
  background: #FFD335;
  color: black;
}

.dropdown-wrapper{
  display: inline-block;
}

.dropdown{
  width: 400px;
  height: 30px;
  text-align: left;
  padding-left: 5px;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.dropdown:focus{
  outline: none;
}

#order-header{
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  width: 950px;
  font-weight: bold;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: left;
}

.order-product{
  width: 950px;
  margin: 0 auto;
  padding: 24px 12px;
  padding-right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.thumb{
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.thumb>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-name{
  width: 600px;
  padding-left: 20px;
}

.count{
  width: 50px;
  text-align: end;
}

.price{
  width: 85px;
  text-align: end;
}

.remove{
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../../img/icons/삭제\ 버튼.svg 버튼.svg");
  border: none;
  background-position: center;
  background-size: contain;
}

.order-wrapper{
  display: flex;
  width: 950px;
  margin: 0 auto;
}

.use-point{
  width: 700px;
  padding-top: 60px;
  padding-bottom: 32px;
  padding-left: 0;
  margin-top: -1px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.use-point>h1{
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.left{
  width: 950px;
  margin: 0 auto;
}

.total-dl{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.total-dt{
  float: left;
}

.total-dd{
  float: right;
}

.save-point{
  display: inline-block;
  width: 100px;
  height: 24px;
  margin-right: 5px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  padding: 3px;
}

.total-dd>button{
  display: inline-block;
  font-size: 12px;
  height: 24px;
  padding: 5px 5px;
  background-color: #255D00;
  color: white;
  border-radius: 4px;
  border: 1px solid  rgb(200, 200, 200);
  cursor: pointer;
  }

.total-dd>button:hover{
  background: #FFD335;
  color: black;
}

.payment-method{
  border-top: 1px solid rgb(200, 200, 200);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.payment-method>h1{
  font-size: 24px;
  font-weight: bold;
}

.choose-payment{
  /* display: flex; */
  justify-content: space-around;
  margin-bottom: 30px;
}

input[type=radio]{
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  background-color: transparent;
  width: calc(33% - 8px); 
  padding-top: 60px ;
  padding-bottom: 12px;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 32px;
  cursor: pointer;
  text-align: center;
}


.account{
  background-position: 68px 6px;
  background-repeat: no-repeat;
  background-size: 75px 60px;
  background-image: url("../../img/icons/무통장입금.png");
}

.card{
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../../img/icons/신용카드결제icon.png");
}

.kakaopay{
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80px 66px;
  background-image: url("../../img/icons/카카오페이icon.svg");
}


.choose-payment>input:hover{
  background: rgb(200, 200, 200);
  color: black;
}

#order-price{
  width: 350px;
  height: 350px;
  border: 1px solid gray;
  border-radius: 13px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#order-price .price{
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-wrapper{
  border-bottom: 1px solid rgb(219, 211, 211);
  margin: 0 12px;
}

.price-pay{
  margin-top: 5px;
  margin-left: 3px;
  font-size: 18px;
  font-weight: 10px;
  padding: 14px;
  margin-bottom: 10px;
}

.sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}

.sum .sum-cnt{
  font-size: 14px;
}

.sum .sum-amt{
  font-size: 18px;
}
.sum-amt>strong{
  font-size: 24px;
  font-weight: 700;
}

#order-price>button{
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 50px;
  border-radius: 10px;
  background-color: #255D00;
  color: white;
  border: 1px solid gray;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

#order-price>button:hover{
  background: #FFD335;
  color: black;
}