*{
  font-family: "NanumSquareRound";
}

#list-menu>li:nth-child(2)>a {
  background-color: rgb(250, 250, 250);
  color: #255D00;
  font-weight: 600;
}

.header{
  display: flex;
}

.header-wrapper{
  display: flex;
  align-items: center;
  margin-right: 230px;
}

.explain{
  padding-left: 10px;
  font-size: 14px;
  color: rgb(168, 168, 168);
}

.dropdown{
  width: 150px;
  height: 50px;
  text-align: left;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.dropdown:focus{
  outline: none;
}


.order-info{
  padding-top: 20px;
  height: 100%;
}

.order-header{
  display: flex;
  padding: 8px 0px 13px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 223, 225);
}

.order-header>span{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  color: black;
}

.order-header>a{
  padding-right: 10px;
  line-height: 1.7;
  font-size: 12px;
  color: black;
  background: url(../../img/icons/주문상세보기.svg) right center / 10px 10px no-repeat;
  cursor: pointer;
}

.order-info-wrapper{
  display: flex;
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* 
.order-info-wrapper:last-child {
  border-bottom: none;
} */

.none-cart{
  background-image: url(../../img/icons/장바구니.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 100px;
}

.none-cart>p{
  text-align: center;
  padding-top: 150px;
  margin-bottom: 100px;
  color: gray;
}

.thumb{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  height: 150px;
  margin-right: 18px;
}

.thumb>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order-list{
  display: flex;
  flex-direction: column;
  width: 500px;
  border-left: 1px solid rgb(200, 200, 200);
  padding-left: 30px;
  position: relative;
  flex-grow: 1;
  justify-content: center;
}

.order-dl{
  display: flex;
  line-height: 200%;
}

.order-dt{
  width: 150px;
}

.order-dd{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-right{
  display: flex;
  width: 150px;
  padding-left: 30px;
  border-left: 1px solid rgb(200, 200, 200);
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.status{
  padding-bottom: 10px;
  padding-left: 18px;
}

.ask-btn{
  background-color: #255D00;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  width: 90px;
  height: 25px;
}

.ask-btn:hover{
  background: #FFD335;
  color: black;
}
