@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#check-wrap{
    width: 820px;
    margin: 0px auto;
    padding-top: 10px;
}

#check-wrap>h4{
    padding: 8px 0px;
    font-weight: 500;
    font-size: 18px;
}

#check-wrap>p{
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: rgb(102, 102, 102);
}

#check-wrap>form{
    box-sizing: border-box;
    margin: 0;
}

#check-area{
    padding: 7px 60px 7px 120px;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.check-flex{
    display: inline-flex;
    width: 100%;
    padding: 10px 30px;
}

.check-flex>div:first-child{
    width: 139px;
    padding-top: 12px;
}

.check-flex label{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.check-flex>div:nth-child(2){
    position: relative;
    height: 48px;
}

.check-flex input{
    width: 285px;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.check-flex>div:last-child{
    width: 120px;
    margin-left: 8px;
}

#check-btn{
    padding: 50px 315px;
}


#check-btn>button{
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #255D00;
    border: 0px none;
    cursor: pointer;
}

#check-btn span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}


#list-menu>li:first-child>a{
    background-color: rgb(250, 250, 250);
    color: #255D00;
    font-weight: 600;
}

.hidden-wrap{
    display: inline-flex;
    width: 100%;
    
}

.hidden-wrap>div:first-child{
    width: 175px;
}

.hidden-box>p, .hidden-box>i{
    font-size: 13px;
    color: rgb(240, 63, 64);
    display: none;
}

.fail{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.fail>p, .fail>i{
    font-size: 13px;
    color: rgb(240, 63, 64);
    display: block;
}