*, ::after, ::before {
    box-sizing: border-box;
}

#container>div{
    box-sizing: border-box;
}

#container{
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    width: 1050px; 
    overflow: auto;
}

/* 쿡 스톨히 */

div>p{
    margin-left: 430px;
    width: 125px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    color: #aaa;
}
div>p:hover{
    color: #FFD335;
}

/* 상세보기 */
table{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    border-top: 3px solid #aaa;
}

thead{
    line-height: 15px;
    height: 80px;
    border-bottom: 1px solid #aaa;
    margin: 0 auto;
}
.ta-1{
    border-bottom: 1px solid #aaa;
}

.t-ti{
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}
.t-cl{
    width: 80px;
    text-align: center;
}
.t-cl p{
    font-weight: 600;
}
.t-vc{
    width: 80px;
    text-align: center;
    padding-bottom: 10px;
}
.t-vc p{
    font-weight: 600;
}
.ta-2{
    margin: 0 auto;
    height: 30px;
}
.t-wr{
    padding-top: 7px;
    padding-left: 30px;
}
.t-wr p {
    font-weight: 600;
}
.t-da{
    width: 100px;
    text-align: end;
}
.t-no{
    text-align: center;
}
tr td#img-box{
    margin: 0 auto;
}

tbody tr td img{
    width: 300px;
    height: 250px;
}

tbody tr td{
    padding-left: 20px;
    padding-top: 20px;
}

.vote_btn{
    display: flex;
    justify-content: space-between;
}
#like_btn{
    background-color: #255D00;
    border-radius: 5px;
    color: #fff;
    border: 1px #FFD335;
    width: 70px;
    height: 28px;
    font-size: 14px;
}
#like_btn:hover{
    background-color: #398209;
    border: 3px solid #FFD335;
}

#report_btn{
    background-color: #FFD335;
    color: #fff;
    border-radius: 5px;
    border: 1px #255D00;
    width: 70px;
    height: 28px;
    font-size: 14px;
}

#report_btn:hover{
    border: 2px solid red;
    color: black;
}

#main-bot{
    text-align: center;
}
#main-bot > a{
    color: #aaa;
    font-size: 15px;
    font-weight: 600;

}

/* 댓 글 */
.form-table{
    display: flex;
    justify-content: center;
}

.cmt_count{
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 6vw;
}

.cmt_w{
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 8vw;
    flex-basis: 1;
    justify-content: space-between;
}

.cmt_txt{
    display: flex;
    justify-content: center;
}

#cmt_comment{
    width: 1000px;
    height: 100px;
}

.cmt_btn{
    height: 100px;
    color: #fff;
    background-color: #255D00;
    border-style: none;
    border-radius: 7px;
}

.cmt_btn:hover{
    background-color: #398209;
    border: 2px solid #FFD335;
}