*, ::after, ::before {
    box-sizing: border-box;
}

#container>div{
    box-sizing: border-box;
}

#container{
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    width: 1050px; 
    
}

/*밥 스토리*/
div>p{
    margin-left: 430px;
    width: 125px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    color: #aaa;
}
p:hover{
    color: #FFD335;
}
ul{
    display: flex;
    flex-direction: row-reverse;  
}

/*메인*/
#main-top{
    display: flex;
    flex-direction: row-reverse;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

table {
    --display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}

.table tr:nth-child(even){
    background-color: #ddd;
}

.table thead th{
   text-align: center;
    background-color: #255D00;
    color: #fff;
    vertical-align: middle;
}

thead{
    border: 2px solid #FFD335;
    height: 31px;
}

tbody>tr{
    height: 40px;
}
tbody>tr>td{
    vertical-align: middle;
}

.table>tbody {
    vertical-align: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#write-btn{
    background-color: #255D00;
    border-radius: 5px;
    color: #fff;
    border-style: none;
    width: 70px;
    height: 28px;
    
}

#write-btn:hover{
    background-color: #398209;
}

#page-area{
    text-align: center;
    letter-spacing: 2px;

}
