*, ::after, ::before {
    box-sizing: border-box;
}

#container>div{
    box-sizing: border-box;
}

#container{
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    width: 1050px; 
    
}

/* 게시판 글쓰기 */
.cookstory{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}
.write {
    width: 700px; 
    margin: 0 auto;
    border-top: 3px solid gray; 
    border-bottom: 3px solid gray;
}

.write input {
    width: 676px; 
    padding: 10px; 
    margin: 12px auto 0;
}

textarea{
    resize: none;
    white-space: pre-line; 
    word-break: break-all;
}

.write .upload {
    margin: 0px auto;

}    
.upload input{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #255D00;
    text-decoration: none; 
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
}
.upload input:hover{
    border: 10px yellow;
    background-color: #326e0b;
}
.write .upload{
    text-align: center;
}

#cate{
    margin-top: 10px;
}
