#container>div{
    box-sizing: border-box;
}

#container{
    position: absolute;
    padding-bottom: 50px;
    top: 280px;
    left: 50%;
    transform: translate(-50%);
    
}
/* 로그인 글씨 */
#container>div:first-child{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}

#login-wrap{
    width: 300px;
    margin: 0px auto;
    margin-bottom: 50px;
}

#login-top{
    margin-top: 30px;
    
}

#login-top input, #btn input, #btn button{
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#btn input{
    background-color: #255D00;
    color: white;
}

#btn button{
    background-color: white;
    border-color: #255D00;
    margin-bottom: 30px;
}

#findMem{
    padding-bottom: 15px;
    display: flex;
    justify-content: end;
    font-size: 12.5px;
    margin-bottom: 5px;
}

#findMem>a{
    color: rgb(51, 51, 51);
    cursor: pointer;
}