@charset "UTF-8";

a {
	color: black;
}
a:link {
	text-decoration: none;
}
a:visited { 
	color: black; text-decoration: none;
}
a:hover { 
	text-decoration: none;
}

#main-menu-bar a{
    font-size: 16px;
    text-align: center;
}

#main-menu-bar {
margin-top: 30px;
margin-bottom: 30px;
}

#price{
    font-size: larger;
    font-weight: 700;
}
#category-name{
    font-weight: 800;
    font-size: xx-large;
}
#main-top>div:first-child, #main-middle>div:first-child, #main-bottom>div:first-child {
	font-size: 1.5rem;
	padding: 20px;
}   

.header-menu-items > a {
	color: white;
}
#header-search-area>button {
	width: 45px;
	height: 45px;
	background-color: white;
	border-left: white;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.main-menu-bar-items > a:hover{
	color: white;
	
}

#main-title{
	font-size: 1rem;
	margin-top: 20px;
}

.main-prod-area{
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	display: flex;
}

a:hover {
  color : black;
}